html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	line-height: 1;
    background-color: white;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}
h1{
    font-size: 71px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 18px;
}
h2{
    font-size: 48px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 18px;
}
.connect{
    background-color: #c78b07;
    color: #000000;
}
p{
    margin-bottom: 1em;
}
img{
    max-width: 100%;
    height: auto;
}
nav{
    background: #222222;
}
.container{
    padding-left: 14px;
    padding-right: 14px;
}
.logo-image{
    background-color: #c78b07;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav a:link,
nav a:visited {
    font-size: 28px;
    color: #c78b07;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 18px;
}
nav .current-1 a:link,
nav .current-1 a:visited {
    color: #000000;
    background-color: #c78b07;
}
.header-image{
    background-image: url(./images/main-banner.jpg);
    background-size: cover;
    padding-bottom: 68px;
    padding-top: 68px;
}
.header-image .container {
    background: rgba(0, 0, 0, 0.5 );
    color: white;
    height: 500px;
}
.header-image .container h1{
    font-size: 80px;
    padding-top: 40px;
}
.header-image .container button{
    margin-top: 60px;
    padding: 25px 25px 25px 25px;
}
/* .light-black h1{
    color: white;
} */
.container-section{
    background-color: #ffe6ac;
    padding-top: 10px;
}
.about-image{
    padding: 10px 10px 10px 10px;
}
.text-aboutus{
    padding: 10px 10px 10px 10px;
}
.image-transformation{
    background-color: #ffe6ac;
}
.image-transformation img{
    /* float: center; */
    width: 1365px;
    height: 404px ;
}

 h3{
    font-size: 29px;
    font-weight: bold; 
    padding-left: 10px;
}
p{
    padding-left: 10px;
}
.search{
    margin-bottom: ;
}
button{
    padding-left: 10px;
}
.image-marketing{
    background-color: #ffe6ac;
}
.image-marketing img{
    /* float: center; */
    width: 1365px;
    height: 404px ;
}
.image-production{
    background-color: #ffe6ac;
}
.image-production img{
    /* float: center; */
    width: 1365px;
    height: 404px ;
}
.image-web{
    background-color: #ffe6ac;
}
.image-web img{
    /* float: center; */
    width: 1365px;
    height: 404px ;
}
.image-print{
    background-color: #ffe6ac;
}
.image-print img{
    /* float: center; */
    width: 1365px;
    height: 404px ;
}
.vision-container{
    background-size: cover;
    height: 270px;
    background-image: url("./images/vision.jpg")
}    
.vision-container h3{
    color: white;
    padding: 10px 10px;
}
.vision-para{
    color: white;
    font-size: 12px;
}
.grid-us .about-bob, img, .about-john{
    background-color: #ffe6ac
}
hr{
    color: #c78b07;
}
.bob-text{
    font-size: 19px;
    font-weight: bold;
}
.about-bob{
    padding-bottom: 40px ;
}
.image-bob-rite img{
    width: 1365px;
    height: 404px; 
}
.image-john-doe img{
    width: 1365px;
    height: 404px;
}
.john, .bob{
    background-color: #ffe6ac;
}
.john-text{
    font-size: 19px;
    font-weight: bold;
}
.john-para{
    padding-bottom: 25px;
}
input{
    width: 17.8cm;
}
textarea{
    width: 17.8cm;
    height: 90px;
}
tr, th, td{
    border: 1px solid;
    width: 786px ;
    height:50px;
    vertical-align: middle;
}
th{
    background-color: #ffe6ac;
}
td {
    height: 50px;
    vertical-align: middle;
    padding-left: 10px;
}
.operational-hours{
    padding-top: 58px;
}
.button-submit{
    color: #c78b07;
}
button {
    background-color: black; /* black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
.location{
    padding-top: 67px;
    padding-bottom: 10px;
}
footer{
    background-color: black;
    color: #c78b07;
}
#search-bar{
    width: 615px;
    height: 34px;
    margin-bottom: 13px;
}
.search{
    padding: 8px 16px;
    padding-top: 7px;
    margin-left: 2px;
    background: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid #c78b07;
    height: 34px;

}
.vision-container button{
    margin-top: 40px;
    padding: 30px 40px;
    background-color: #0e233d;
    border: 1px solid #c78b07;
}
hr{
    border: 1px solid #c78b07;
}

.map iframe{
    width: 680px;
}
@media screen and (min-width: 760px) {
    .container{
        width: 706px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1168px;
        margin: 0 auto;
        padding: 0 16px;
    }
    .navigation .container{
        display: flex;
        background-color: #222222;
    }
    .headerbox{
        background-color: #222222;
    }
    .logo-image{
        background-color: #222222;
        padding-left: 100px;
    }
    .navigation ul{
        background-color: #222222;
    }
    .navigatin .container img, li, form{
        width: 100px;
        margin: 10px;
        text-align: center;
    }
    .navigation ul{
        display: flex;
    }
    nav a {
        display: inline-block;
        flex-basis: 100%;
        width: 100%;
        text-decoration: none;
        font-size: 1rem;
        color: #c78c06;
        background-color: #222;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
    ul{
        height: 145px;
        font-size: 35pt;
        padding-top: 10px;
    }
    nav a:link,
    nav a:visited {
        font-size: 20px;
        color: #c78b07;
        text-align: center;
        display: block;
        text-decoration: none;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    #search-bar{
       width: 200px;
       margin-top: 26px;
    } 
    form{
        display: flex;
        /* justify-content: end; */
    }
    .search{
        margin-top: 26px;
    }
    .header-image .comntainer{
        margin-left: 20px;
        margin-right: 20px;
        background: rgba(0, 0, 0, 0.5 );
        color: white;
    }
    .container-section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .text-aboutus{
        margin-right: 100px;
        width: 50%;
        padding: 10px 10px 10px 10px;
    }
    .about-image{
        display: block;
        margin-left: 100px;
        width: 50%;
        height: 70%;
    }
    #services h2{
        padding-left: 70px;
    }
    .grid-container{
        display: grid;
        grid-gap: 20px;
        padding-left: 70px;
        padding-right: 70px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'a1 a1 a1 a2 a2 a2'
        'a3 a3 a4 a4 a5 a5';
    }
    .image-transformation{
        grid-area: a1;
    }
    .image-marketing{
        grid-area: a2;
    }
    .image-production{
        grid-area: a3;
    }
    .image-web{
        grid-area: a4;
    }
    .image-print{
        grid-area: a5;
    }
    /* .grid-container{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        'digital digital market market'
        'video video web web print print';
    }
    .video-production{
        grid-area: video;
    }
    .web-devplopment{
        grid-area: web;
    }
    .print{
        grid-area: print;
    }
    .image-transformation{
        grid-area: digital;
    }
    .image-marketing{
        grid-area: market;
    } */
    .vision-border .vision-container{
        background-image: none;
        margin: 70px;
    }
    .vision-border{
        background-repeat: no-repeat;
        background-image: url("./images/vision.jpg") 
    }
    
    .container-section{
        height: auto;
    }
    .wrapper-us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        'form map'
        'hours hours';
    }
    .message-area{
        grid-area: form;
    }
    .operational-hours{
        grid-area: hours;
    }
    .map{
        grid-area: map;
    }
    .form-table{
        height: 400px;
        width: 600px;
    }
    .contact-section input, textarea{
        width: 550px;
        margin-top: 10px;
    }
    .message-area{
        margin-top: 50px;
    }
    .form-table label{
        font-size: 20px;
    }
    .form-table input{
        height: 20px;
    }
    .form-table textarea{
        height: 100px;
    }
    .map iframe{
        width: 570px;
    }
    .vision-border{
        height: 400px;
    }
    .grid-us{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        'bob jtext'
        'btext john';
    }
    /* .image-bob-rite:nth-child(1){
        grid-template-columns: 1 / 2;
    }
    .about-john:nth-child(1){
        grid-template-columns: 2 / 3;
    } */
    .image-bob-rite{
        grid-area: bob;
    }
    .about-bob{
        grid-area: btext;
        background-color: #ffe6ac;
        margin-top: -6px;
        margin-bottom: 6px;
    }
    .image-john-doe{
        grid-area: john;
    }
    .about-john{
        grid-area: jtext;
        background-color: #ffe6ac;
    }
    .grid-us h3{
        margin-top: 20px;
    }
}



