html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	line-height: 1;
    background-color: white;
    font-family: "open sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}
h1{
    font-size: 71px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 18px;
}
h2{
    font-size: 48px;
    line-height: 106px;
    font-weight: bold;
    margin-bottom: 18px;
}
p{
    margin-bottom: 1em;
}
img{
    max-width: 100%;
    height: auto;
}
nav{
    background: #222222;
}
.container{
    padding-left: 14px;
    padding-right: 14px;
}
.logo-image{
    background-color: #c78b07;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav a:link{

}
nav a:link,
nav a:visited {
    font-size: 28px;
    color: #c78b07;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 18px;
}
nav .current-1 a:link,
nav .current-1 a:visited {
    color: #000000;
    background-color: #c78b07;
}
.header-image{
    background-image: url(./images/main-banner.jpg);
    background-size: cover;
    padding-bottom: 68px;
    padding-top: 68px;
}
.header-image .container {
    background: rgba(0, 0, 0, 0.5 );
    color: white;

}
.light-black h1{
    color: white;
}
@media screen and (min-width: 1168px) {
    .container{
        width: 1140px;
        margin: 0 auto;
    }
}
/* ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  */


